#
# Executes commands at the start of an interactive session.
#
# Authors:
#   Sorin Ionescu <sorin.ionescu@gmail.com>
#
#
#
{{- if eq .chezmoi.os "darwin" }}
eval "$(/opt/homebrew/bin/mise activate zsh)"
{{- else if eq .chezmoi.os "linux" }}
eval "$(/home/linuxbrew/.linuxbrew/bin/mise activate zsh)"
export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8
{{- end }}

# Runs after mise as zoxide is a mise installable package.
eval "$(zoxide init zsh)"

# Runs last to capture all changes to shell from the previous commands.

# Source Prezto.
if [[ -s "${ZDOTDIR:-$HOME}/.zprezto/init.zsh" ]]; then
  source "${ZDOTDIR:-$HOME}/.zprezto/init.zsh"
fi

eval "$(oh-my-posh init zsh --config https://raw.githubusercontent.com/JanDeDobbeleer/oh-my-posh/main/themes/powerlevel10k_rainbow.omp.json)"

# Customize to your needs...

export PATH="$HOME/.local/bin:$PATH"
