{
  "version": 2,
  "plugins": {
    "grok@grok-build-plugin": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/grok-build-plugin/grok/0.1.0",
        "version": "0.1.0",
        "installedAt": "2026-07-06T20:00:57.817Z",
        "lastUpdated": "2026-07-06T20:00:57.817Z",
        "gitCommitSha": "336d904959c191d42864c2f37fc57c534ac55573"
      }
    ],
    "codex@codex-fable": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/codex-fable/codex/1.6.0",
        "version": "1.6.0",
        "installedAt": "2026-07-06T20:01:17.984Z",
        "lastUpdated": "2026-07-06T20:01:17.984Z",
        "gitCommitSha": "e6f993cc2a1c2b6da58c26dd957f36d8a7afdb0a"
      }
    ]
  }
}