{{- if eq .chezmoi.os "linux" }}
# Homebrew (Linuxbrew)
if test -x /home/linuxbrew/.linuxbrew/bin/brew
    eval (/home/linuxbrew/.linuxbrew/bin/brew shellenv)
end
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
abbr -a ash "autossh -M 0 -q"
{{- end }}

fish_add_path ~/.npm-global/bin ~/.bun/bin $HOME/.local/scripts $HOME/.local/bin
mise activate fish | source

# can re-enable this when zmx is updated to support completions
#if type -q zmx
#  zmx completions fish | source
#end


if status is-interactive
    # Commands to run in interactive sessions can go here
    #
    starship init fish | source
{{- if eq .chezmoi.os "darwin" }}
    ssh-add --apple-load-keychain -q >/dev/null 2>&1
    if test "$TERM_PROGRAM" = ghostty
        set -Ux TERM xterm-256color
    end
{{- end }}
{{- if eq .chezmoi.os "linux" }}
    set -gx TERM xterm-256color
    set -gx FORCE_COLOR 3
    fish_add_path /home/linuxbrew/.linuxbrew/bin/brew
{{- end }}
end

zoxide init fish | source

